@import "../../index";

.pagination .page-item.active .page-link {
   background-color: $color-primary !important;
  color: $color-background !important;
  font-weight: bold;

}
.favourites {
  position: absolute;
  right: 10%;
  bottom: 5%;
  color: $color-background !important;
}



