@import "../../index";

$button-border-radius: 11px;
$slider-thumb-size: 15px;


.divider {
  content: '';

  border-bottom: 1px solid $color-light-grey;
}

.multiple-choices-select {
  width: 25%;
  border-radius: 10px;
}

.nutrient-dot-active, .nutrient-dot-disabled {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid $color-background;
  background-color: $color-primary;
  border-radius: 50%;
}

.nutrient-dot-disabled {
  background-color: white;
  border: 3px solid #A5A5A5;

}

.neutral-button {

  background-color: $color-light-grey !important;
  border-radius: $button-border-radius;
}

.neutral-button:hover {
  color: $color-background;
}


.nav-button-active {
  background-color: $color-background !important;
  color: $color-primary !important;
  border: 1px solid $color-primary;
  border-radius: $button-border-radius;
}


.search-tag {
  position: relative;
  background-color: $color-light-grey !important;
  border-radius: 15px;
  font-weight: normal;
  font-size: 1rem;
}

.search-tag-close {
  position: absolute;
  right: 7%;
  top: 37%;
  font-weight: bold;
  color: #181818;
}

.including-ingredients-heading-selected {
  border-bottom: 5px solid $color-primary;
}


.nutrient-indicator-disabled, .nutrient-indicator-has-value {
  border: 1px solid $color-light-grey;
  border-radius: 15px;
  padding: 10px 40px;
  color: $color-light-grey;
}

.nutrient-indicator-has-value {
  border: 1px solid $color-background;
  color: $color-background;
}

.custom-range-active, .custom-range-disabled {
  width: 100%;
  background-color: transparent;
}

.search-tags-wrapper-left-margin {
  margin-top: 2.5rem;
}

.search-tags-wrapper {
  border: 1px solid $color-light-grey;
  width: 100%;
  height: 100%;
  border-radius: $button-border-radius;

}

.md-form {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 10px !important;
}

.search-input {
  padding: 0 !important;
  margin: 0 !important;
}

.autocomplete-wrapper {
  position: relative;

}

.autocomplete {
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 100%;
  border: 1px solid $color-light-grey;
}


.autocomplete-row {
  border-bottom: 1px solid $color-light-grey;
  padding: 15px;
}

.autocomplete-row:hover {
  color: $color-primary;
  background-color: $color-background;
  cursor: pointer;
}

$slider-thumb-size: 15px;

// Custom sliders

/* All the same stuff for Firefox */
.custom-range-active::-moz-range-thumb, .custom-range-disabled::-moz-range-thumb {
  border: 3px solid $color-background;
  height: $slider-thumb-size;
  width: $slider-thumb-size;
  border-radius: 50%;
  background: $color-secondary;
  cursor: pointer;
}

.custom-range-disabled::-moz-range-thumb {
  border-color: #A5A5A5;
}

.custom-range-active::-moz-range-track, .custom-range-disabled::-moz-range-track {
  width: 100%;
  height: $slider-thumb-size*0.8;
  background: $color-background;
  border-radius: 15px;
}

.custom-range-disabled::-moz-range-track {
  background-color: #A5A5A5;
}

.custom-range-active::-moz-range-progress, .custom-range-disabled::-moz-range-progress {
  height: $slider-thumb-size*0.8;
  width: 100%;
  -webkit-appearance: none;
  background-color: $color-primary;
  border-radius: 15px 0 0 15px;
  border-bottom: 2px solid $color-background;
  border-left: 2px solid $color-background;
  border-right: 0 solid $color-background;
  border-top: 2px solid $color-background;
}

.custom-range-disabled::-moz-range-progress {
  background-color: #DDDDDD;
  border-color: #A5A5A5;

}


.nav-button {

  color: $color-background;
  background-color: $color-light-grey !important;
  border: 1px solid $color-background;
  border-radius: $button-border-radius;
}

.nav-button, .nav-button-active {
  padding: 15px 20px;
  font-size: 1.3rem;
  display: inline;
}

.action-button {
  background-color: $color-primary !important;
  font-weight: bold;
  padding: 10px 50px;
  font-size: 1.3rem;
  border-radius: $button-border-radius;
}

.action-button:hover {
  color: $color-background;
}
