@import "../Recipes";


.favourite {
  position: absolute;
  right: 1%;
  bottom: 2%;
  color: $color-background !important;
  background-color: $color-primary;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.9;
  z-index: 10000 !important;
}
.favourite:hover {
  opacity: 1;
}

.reviews-text-area{
  resize:none;
}